#home {
  padding-block: 50px;

  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    .product_card {
      border: 1px solid #e0e0e0;
      border-radius: 12px;
      overflow: hidden;
      max-width: 350px;
      transition: transform 0.2s, box-shadow 0.2s;
      background-color: #fff;
      padding: 10px;
      height: 410px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      .product_image {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .product_info {
        padding: 16px;
        text-align: center;

        .product_name {
          font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
          margin: 0 0 8px;
          color: #333;
          font-weight: 600;
        }

        .product_price {
          font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
          font-weight: bold;
          color: #4caf50;
          margin: 0;
        }
      }

      .product_actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-top: 1px solid #e0e0e0;

        .delete_btn,
        .edit_btn,
        .cart_btn {
          color: black;
          font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
          cursor: pointer;
          transition: background-color 0.2s, transform 0.2s;
        }

        .delete_btn:hover {
          opacity: 0.9;
          transform: scale(1.09);
          color: #f44336;
        }
        .edit_btn:hover {
          opacity: 0.9;
          transform: scale(1.09);
          color: #4caf50;
        }
        .cart_btn:hover {
          opacity: 0.9;
          transform: scale(1.09);
          color: #ffc107;
        }
      }
    }
  }
}
